*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body{
    background-color: #FFFFFF;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 2px 20px;
    width: 100%;

}

.bars-btn{
    display: none;
}

.navlink a{
    margin: 0 15px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 200;
    opacity: 0.8;
}

.navbar2{
    margin: 0 20px;
    display: flex;
    gap: 20px;
}

.search-btn{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: none;
    background-color: #F0F0F4;
    font-size: 16px;
    
}

.search-btn strong{
    opacity: 0.9;
}

.search-btn span{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.sun-btn{
    border: none;
    background-color: transparent;
    font-size: 18px;
    align-items: center;
    border-radius: 40%;
}

.sun-btn:hover{
    background-color: #F0F0F4;
}

.display-search{
    display: none;
}

.English-btn{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    font-size: 15px;
    font-weight: 300;
    background-color: transparent;
    border: 1px solid #F0F0F4;
    border-radius: 5px;
}

.English-btn:hover{
    background-color: #F0F0F4;
}

.signin-btn{
    padding: 7px 15px;
    border-radius: 20px;
    background-color: transparent;
    border: none;
    font-size: 15px;
}

.signin-btn:hover{
    background-color: #F0F0F4;
}

@media screen and (max-width: 768px) {
    .navlink a,
    .search-btn,
    .English-btn{
        display: none;
    }

    /* .search-btn i{
        display: block;
    } */
    .navbar{
        padding: 5px 10px;
        
    }
    .bars-btn{
        display: block;
        background-color: transparent;
        align-items: center;
        font-size: 20px;
        margin-right: 10px;

    }

}

@media screen and (min-width: 768px) {

  .search-btn {
    display: flex;
  }

  .English-btn {
    display: flex;
  }

}

@media screen and (min-width:1024px) {
  .navlink a{
    display: none;
  }
  #show{
    display: inline-flex;
  }
}
@media screen and (min-width:1280px) {
    .navlink a{
        display: inline-flex;
    }
}


.guidance{
    background-color: rgb(26,115,232);
    padding: 25px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
}

.register{
     background-color: rgb(232,240,254);
    padding: 25px;
    color: rgb(60,82,165);
    font-size: 15px;
    font-weight: 400;
    width: 100%;
}

.register a{
    color: rgb(60,82,165);
}

.main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.designweb{
    width: 50%;
}

.designweb h1{
    font-size: 64px;
    color: #202124;
    font-weight: 700px;
}

.designweb p{
    color: #202124;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}


.designweb-img img{
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .main-section{
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
    .designweb{
        width: 100%;
        padding: 20px;
    }
    .designweb-img img{
        width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .main-section{
        flex-direction: row;

    }   
}

.content-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 200px;
    gap: 10px;
    /* width: 75%; */
}

.content-div{
    /* width: 25%; */
    padding-top: 70px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
   max-width: 250px;
}

.content-div a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #202124;
}

.content-div a:hover{
    text-decoration: underline;
}

.content-div p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.content-div2{
    display: inline-block;
    padding: 15px 15px;
    background-color: rgb(245,246,247);
    text-align: center;
    height: 550px;
    width: 300px;
    border-radius: 15px;
}


.content-div2 img{
    max-width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 15px;
}

.content-div2 a{
    font-size: 32px;
    color: #202124;
    font-weight: 500;
    text-decoration: none;
}

.content-div2 a:hover{
    text-decoration: underline;
}

.content-div2 p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;

}

.content-div2 button{
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 15px;
    color: #1A73E8;
    background-color: #ffffff;
    border: 3px solid #185abc;
    border-radius: 20px;
    transition: 3s;
    margin-bottom: 40px;
}

.content-div2 button:hover{
    border: none;
    background-color: rgb(245,246,247);
    transition: 3s;
}

@media screen and (max-width: 768px) {
    .content-section{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .content-div{
       max-width: 250px;
    }

}
